<div class="container">
        <div class="header">
            <h2 class="centre">Weather App</h2>
            <p>made with MEAN stack!</p>
            <p class="page font-weight-bolder">Home page</p>
        </div>
        <div class="formContainer">
            <img src="./image/undraw_profile_pic_ic5t(1).png" alt="">
            <form name="loginform" ng-submit="callLogin()" novalidate>
                <input class="formstyle" type="text" placeholder="Enter city" ng-model="city" name="city" pattern="[a-zA-Z0-9.-_]{3,}" required> <br>
                <span ng-show="loginform.email.$touched && loginform.email.$invalid && loginform.email.$error['required']" class="error">City address can't be empty!</span>
                <span ng-show="loginform.email.$touched && loginform.email.$invalid && loginform.email.$error['pattern']" class="error">City address has invalid format</span>
                
                <button class="formstyle form--button" type="submit">Search</button> <br>
            </form>
        <p class="formContainer--register">Find weather for city?</div>
        <div class="weatherData" style="width:100%" ng-show="weatherData">
                <h2 class="text-center mt-3">Today's Weather</h2>
                <div class="card mb-3 mx-auto my-4" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">City: {{weatherData.location}}</h5>
                                    <p class="card-text"><b>Weather:</b> {{weatherData.weatherData.weather.description}}</p>
                                    <p class="card-text"><b>Temperature:</b> {{weatherData.weatherData.weather.temperature}} C</p>
                                    <p class="card-text"><b>Humidity:</b> {{weatherData.weatherData.weather.humidity}}%</p>
                                    <p class="card-text"><b>Pressure:</b> {{weatherData.weatherData.weather.pressure}} mb</p>
                                </div>
                            </div>
                            <div class="col-md-4 mt-3">
                                <img src="http://openweathermap.org/img/w/{{weatherData.weatherData.weather.icon}}.png" class="card-img" alt="...">
                            </div>
                        </div>
                </div>
           
            <h2 class="text-center">Weather Forecast</h2>
            <div class="card-group" class="mx-auto" >
                <div class="card" ng-repeat="(key, value) in weatherData.weatherData.weatherArray" >
                    <img src="http://openweathermap.org/img/w/{{value.icon}}.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{value.date}}</h5>
                        <p> <b>Weather:</b> {{value.description}}</p>
                        <p class="card-text"><b>Temperature:</b> {{value.temperature}} C</p>
                        <p class="card-text"><b>Humidity:</b> {{value.humidity}}%</p>
                        <p class="card-text"><b>Pressure:</b> {{value.pressure}} mb</p>
                    </div>
                </div>
            </div>
            <h2 class="text-center mt-2">Temperature Chart</h2>
            <canvas id="line" class="chart chart-line text-center my-4" chart-data="data"
                chart-labels="labels" chart-series="series" chart-options="options" chart-colors="colors"
                chart-dataset-override="datasetOverride" chart-click="onClick">
            </canvas>
        </div>
    </div>